*:not(.path-bar-button):not(.rubberband):not(separator) {
	border: none;
}

.thunar * statusbar {
	margin-bottom: 0px
}

.thunar location-toolbar {
	margin-right: 0px;
	margin-top: 0px
}
.thunar location-toolbar * widget box entry {
	margin-left: 0px;
	margin-right: 0px;
}

.thunar location-toolbar {
	margin-left: 60px;
}


.thunar > grid {
	margin-top: -70px;
}

.thunar * statusbar {
	margin-bottom: 0px
}



.thunar {
    background: #2e2531;
    background-size: 100% 100%;
}



.thunar .view,
.thunar widget:not(:selected),
.thunar .sidebar,
.thunar .standard-view {
 background-color: #2e2531;
 color: #927C81;
}

.thunar image,
.thunar widget,
.thunar label {
 background-color: #2e2531;
 color: #939089;
}

.thunar * .path-bar-button:checked {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #2e2531 100%, transparent 0%) 0 0 2/0 0 2px;
}




.thunar #location-toolbar {
	margin-top: 0px;
}

.thunar .sidebar .view {
	background: ##AA938C;
}

.thunar > grid paned {
    margin-left: -3px;
}

.thunar > grid paned grid {
    margin-left: 4px;
}


 {
    font-weight: Bold;
}

.thunar .standard-view,
.thunar .sidebar {
	padding: 15px;
}

.thunar paned separator {
	border-left: 0px solid #2e2531;
	margin-top: 0px solid #2e2531;
	margin-bottom: 0px solid #2e2531;
}

.thunar separator {
	background: #B9B4B1;
}

.thunar .sidebar treeview {
	padding-bottom: 1px;
	padding-top: 1px;
}


.thunar .view:not(:selected) {
	background: #2e2531;
	color: #d6d6d7;
}

.thunar {
	background-image: url("/home/uriel/.config/gtk-3.0/astro-mona.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

.thunar treeview,
.thunar .sidebar {
	background-color: #2e2531;
}
